body{
    margin: 0 0 0 0;
}
nav{
    background-color: rgb(4, 61, 94);
}
img{
    width: 20%;
}
h1{
    float: right;
    color: white;
    margin-right: 40px;
}
@media (min-width:992px){
    nav{
        height: 110px;
    }
}
@media (min-width:768px) and (max-width:991px){
    nav{
        height: 80px;
    }
}
@media (max-width:767px){
    nav{
        height: 60px;
    }
    img{
        margin-top: 10px;
    }
}
