body
    {
    margin: 0 0 0 0;
    background-color: rgb(243, 240, 240);
    }
nav
    {
    background-color: rgb(4, 61, 94);
    }
img
    {
    width: 20%;
    }
@media (min-width:992px)
    {
        nav
            {
            height: 110px;
            }
        h1
            {
            float: right;
            color: white;
            margin-right: 40px;
            }
        div{
            width: 30%;
            height: 225px;
            margin-left: 35%;
            margin-right: 35%;
            margin-top: 40px;
        }
        #si{
            width: 20%;
        }
        #reg{
            width: 60%;
        }
        #pwd{
            width: 60%;
        }
    }
@media (min-width:851px) and (max-width:991px)
    {
        nav
        {
            height: 80px;
        }
        h1{
            float: right;
            color: white;
            margin-right: 40px;
        }
        div{
            width: 50%;
            height: 225px;
            margin-left: 25%;
            margin-right: 25%;
            margin-top: 10%;
        }
        #si{
            width: 25%;
        }
        #reg{
            width: 60%;
        }
        #pwd{
            width: 60%;
        }
    }
@media (max-width:850px)
    {
        img
        {
            width: 25%;
            margin-top: 10px;
        }
        nav
        {
            height: 80px;
        }
        h1{
            float: right;
            color: white;
            font-size:medium;
            margin-right: 10px;
        }
        div{
            width: 70%;
            height: 225px;
            margin-left: 15%;
            margin-right: 15%;
            margin-top: 20%;

        }
        #si{
            width: 25%;
        }
        #reg{
            width: 75%;
        }
        #pwd{
            width: 75%;
        }
    }
div
{       
        padding:5px 10px 10px 10px;
        border-radius: 4px;
        background-color: white;
        border-top:3px solid rgb(4, 61, 94);
    }
#reg{
    border: 2px solid;
    
    height: 25px;
    background-color: rgb(229, 246, 250);
}
#pwd{
    border: 2px solid;
    height: 25px;
    margin-top: 10px;
    
    margin-bottom: 10px;
    background-color: rgb(229, 246, 250);
}
#fp{
    float: left;
    text-decoration: none;
}
#si{
    float: right;
    color: black;
    border-radius: 3px;
    border: none;
    padding-top:8px  ;
    padding-bottom: 8px;
    background-color:rgb(120, 245, 120) ;
    cursor: pointer;
    margin-right: 40px;
    margin-bottom: 15px;
}